<!DOCTYPE html>
<html lang="en">
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<h1>
    Your Devices Are Listed Here
</h1>
<table>
<tr>
    <th>Device No.</th>
    <th>URL</th>
</tr>

{%for device in devices%}
<tr>
    <td>{{device}}</td>
    <td><a href="{%url 'listdevices'%}?z={{device}}"  >Visit</a></td>
</tr>
{%endfor%}
</table>
</body>
</html>